#mainDashboard
  margin-top: 100px
  margin-right: 20px
  margin-left: 20px

@media screen and (min-width: 800px)
  #mainDashboard
    position: fixed
    width: calc(100% - 260px)
    right: 0
    margin-left: 20px
