@import './NavDashboardMobileButton'

#navDashboard
  position: fixed
  top: 100px
  left: 20px
  width: 200px
  min-height: 80%
  background-color: $_color_dark_grey
  color: $_color_white
  border-radius: 5px
  box-shadow: 0 0 20px $_color_black

#navDashboardMobile
  position: fixed
  left: 10%
  background-color: $_color_dark_grey
  width: 80%
  height: 60vh
  margin: auto
  padding: 3px
  border-radius: 5px
  box-shadow: 0 0 20px $_color_black
  z-index: 8

.showNavDashboardMobile
  opacity: 1
  top: 100px
  transition: opacity 0.25s ease-in-out

.hideNavDashboardMobile
  opacity: 0
  top: -100%
  transition: opacity 0.25s ease-in-out
