@import "./../Accounts/DashboardTableAccounts"
@import "./../Fields/DashboardTableFields"
@import "./../Levels/DashboardTableLevels"

@import "./CreateButton"
@import "./ShowButton"
@import "./UpdateButton"
@import "./DeleteButton"

#containerDashboardTables
  display: block
  overflow-x: auto
  margin-bottom: 10px

.dashboardTables
  width: 100%

.dashboardTables thead
  background-color: $_color_dark_grey
  color: $_color_white

.dashboardTables td
  padding: 5px
  border-radius: 5px

.checkColumn
  width: 40px

.actionsColumn
  min-width: 120px

.impairLine
  background-color: $_color_impair_line_dashboard

.pairLine
  background-color: $_color_pair_line_dashboard
