@import "../../Reusable/Input"
@import "../../Reusable/ButtonForm"

.form
  width: 100%

#connexion
  width: 50%
  margin: auto
  padding: 20px
  background-color: $_color_dark_grey
  color: $_color_white
  border-radius: 5px
  font-family: "Candara Bold"

#buttonConnexion
  text-align: center
  font-family: "Candara Bold"
