$_color_white: #FFFFFF
$_color_black: #000000
$_color_dark_grey: #2E3136
$_color_one_pastel_rainbow: #C2A3FF
$_color_two_pastel_rainbow: #7C95CF
$_color_three_pastel_rainbow: #9CE4FD
$_color_four_pastel_rainbow: #B5DB88
$_color_five_pastel_rainbow: #FDEF80
$_color_six_pastel_rainbow: #FED37C
$_color_seven_pastel_rainbow: #FEA199
$_color_rainbow: linear-gradient(135deg, $_color_one_pastel_rainbow 0%, $_color_two_pastel_rainbow 15%, $_color_three_pastel_rainbow 30%, $_color_four_pastel_rainbow 45%, $_color_five_pastel_rainbow 60%, $_color_six_pastel_rainbow 75%, $_color_seven_pastel_rainbow 100%)

$_background_home: "../../../../public/assets/images/other_images/background_home.png"

$_cocogoose_classic_medium: "../../public/assets/fonts/Cocogoose/Cocogoose_Classic_Medium.ttf"
$_cocogoose_classic_extrabold: "../../public/assets/fonts/Cocogoose/Cocogoose_Classic_ExtraBold.ttf"

$_kurier_regular: "../../public/assets/fonts/Kurier/Kurier-Regular.otf"
$_kurier_bold: "../../public/assets/fonts/Kurier/KurierHeavy-Regular.otf"
$_kurier_italic: "../../public/assets/fonts/Kurier/Kurier-Italic.otf"
$_kurier_italic_bold: "../../public/assets/fonts/Kurier/KurierHeavy-Italic.otf"

$_candara: "../../public/assets/fonts/Candara/Candara.ttf"
$_candara_bold: "../../public/assets/fonts/Candara/Candara_Bold.ttf"
$_candara_italic: "../../public/assets/fonts/Candara/Candara_Italic.ttf"
$_candara_italic_bold: "../../public/assets/fonts/Candara/Candara_Bold_Italic.ttf"

@font-face
  font-family: 'Cocogoose'
  font-weight: 400
  ascent-override: 100%
  src: url('#{$_cocogoose_classic_medium}') format('truetype')

@font-face
  font-family: 'Cocogoose Bold'
  font-weight: 700
  src: url('#{$_cocogoose_classic_extrabold}') format('truetype')

@font-face
  font-family: 'Kurier'
  font-weight: 400
  src: url('#{$_kurier_regular}') format('opentype')

@font-face
  font-family: 'Kurier Bold'
  font-weight: 700
  src: url('#{$_kurier_bold}') format('opentype')

@font-face
  font-family: 'Kurier Italic'
  font-style: italic
  font-weight: 400
  src: url('#{$_kurier_italic}') format('opentype')

@font-face
  font-family: 'Kurier Italic Bold'
  font-style: italic
  font-weight: 700
  src: url('#{$_kurier_italic_bold}') format('opentype')

@font-face
  font-family: 'Candara'
  font-weight: 400
  src: url('#{$_candara}') format('truetype')

@font-face
  font-family: 'Candara Bold'
  font-weight: 900
  src: url('#{$_candara_bold}') format('truetype')

@font-face
  font-family: 'Candara Italic'
  font-style: italic
  font-weight: 400
  src: url('#{$_candara_italic}') format('truetype')

@font-face
  font-family: 'Candara Italic Bold'
  font-style: italic
  font-weight: 900
  src: url('#{$_candara_italic_bold}') format('truetype')

html, body
  width: 100%
  min-height: 100%
  margin: 0
  padding: 0
  font-family: 'Candara', sans-serif

@media screen and (max-width: 800px)
  html, body
