#borderShowAccountModal
  position: absolute
  width: 80%
  height: auto
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  background: $_color_rainbow
  padding: 10px
  border-radius: 5px

#showAccountModal
  background-color: $_color_dark_grey
  color: white
  padding: 10px
  border-radius: 5px

#pictureAccount
  width: 40px
  height: 40px
  border-radius: 50%

.rowShowAccount
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0
  margin-bottom: 10px

p, h3
  margin: 0
  margin-bottom: 10px

#buttonsModal
  text-align: center

#closeModal
  background-color: $_color_red
  color: $_color_white
  padding: 5px
  border-radius: 5px
  cursor: pointer
  border: none
