@import "../../Reusable/Input"
@import "../../Reusable/ButtonForm"
@import "../../Reusable/InputOptionList"

.form
  width: 100%

#registrationSection
  width: 80%
  margin: auto
  padding: 20px
  background-color: $_color_dark_grey
  color: $_color_white
  border-radius: 5px
  font-family: "Candara Bold"

#buttonRegistration
  text-align: center
  font-family: "Candara Bold"

@media screen and (min-width: 800px)
  #registrationSection
    width: 50%
